/* canvas {
    width: 50%;
    margin: auto;
} */
body{
    /* background: #aaa; */
}
canvas{
    height: 100%;
    color: white;
    padding: 0 15px;
    width: 100%;
}

.announcement-btn{
    background: transparent;
    border: 0;
    color: white;
}